@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<CarRentalApp.Models.Booking>

@{
    ViewData["Title"] = "Mina Bokningar";
}

<h2>Mina Bokningar</h2>

<table class="table">
    <thead>
        <tr>
            <th>Bil</th>
            <th>Startdatum</th>
            <th>Slutdatum</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model)
        {
            <tr>
                <td>@booking.Car.Model</td>
                <td>@booking.StartDate.ToShortDateString()</td>
                <td>@booking.EndDate.ToShortDateString()</td>
                <td>@booking.Status</td>
            </tr>
        }
    </tbody>
</table>
