@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mina Bokningar";
}
<h2>Mina Bokningar</h2>
<p>Här kan du se dina bokningar.</p>
<table class="table">
    <thead>
        <tr>
            <th>Bil</th>
            <th>Startdatum</th>
            <th>Slutdatum</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <!-- Dynamiskt innehåll från databasen -->
    </tbody>
</table>